@media (max-width:1140px){
    .home{
        grid-template-columns: 1fr;
        height: 100%;
    }
    header.sticky{
        background: #fff;
        padding: 10px 3%;
        box-shadow: 0 0 10px rgb(0 0 0 /10%);
    }
    .home-text{
        padding-top: 50px;
        text-align: center;
    }
    section{
        padding: 90px 3%;
    }
    .home-img img{
        width: 100%;
        max-width: 600px;
    }
    .home-img{
        text-align: center;
    }
}

/* category */
@media (max-width: 700px) {
    svg text{
        font-size: 70px;
    }
}
@media (max-width: 500px) {
    svg text{
        font-size: 50px;
    }
}